<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>@charliewilco/extensions examples</title>
	</head>
	<body>
		<main>
			<ul>
				{%- for component in components %}
					<li><code>&lt;{{ component.tag }}&gt;</code></li>
				{%- endfor %}
			</ul>
		</main>
	</body>
</html>
